.row {
  margin-left: 20px;
  color: #fff;
}

.posters {
  display: flex;
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.posters::-webkit-scrollbar {
  display: none;
}

.poster {
  max-height: 250px;
  margin-right: 10px;
}

.smallPoster {
  max-height: 150px;
  margin-right: 10px;
}

/* Add this in your CSS file */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #09f;
  border-radius: 50%;
  /* width: 40px;
  height: 40px; */
  animation: spin 1s linear infinite;
  max-height: 250px;
  margin-right: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
